@{
    ViewData["Title"] = "FAQ";
}

<style>
    body {
        background: url(https://oir.mobi/uploads/posts/2021-03/1616533805_35-p-fon-sport-38.jpg)
    }

    .image{
        margin-bottom: 50px;
    }
</style>

<div class="text-center">
    <h2>Справочная страница</h2>
</div>

<div align="center" class="image">
    <img src="https://56stroyka.ru/wp-content/uploads/2017/03/8401-720x380.jpg" />
</div>

<div class="text-body">
   <p>Фитнес в нашем понимании – это возможность изменить себя.</p>

<p>Олимпия уникальное пространство, в котором опыт команды, современные технологии и качественный сервис создают условия
для занятия фитнесом с полной отдачей.</p>

<p>Наша обязанность – помочь вам в достижении поставленных целей!
Мы уверены – фитнес должен быть эффективным!
Фитнес-клуб расположен на территории, площадью 5200м².
Это неоспоримое преимущество позволило объединить под одной крышей самые популярные направления фитнеса и эксклюзивные программы.</p>

<p>Мы стремились создать фитнес-пространство, где дети будут развиваться, а взрослые совершенствоваться и восстанавливаться. И нам это удалось.
С 2003 года Олимпия основывает свою работу на принципах профессионального подхода к фитнесу.
За это время мы приобрели опыт, который позволяет заявить о высоком уровне фитнес-клуба.</p>
</div>
