@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background: url(https://oir.mobi/uploads/posts/2021-03/1616533805_35-p-fon-sport-38.jpg)
    }

    .image2{
        max-width: 350px;
        flex: auto;
        margin: 10px;
        padding-bottom: 80px;
    }

    .image2 p {
        text-align: center;
    }

    .div1{
        display: flex;
        margin-top: 25px;
        margin-bottom: 15px;
        justify-content:center;
    }

    .MainImage{
        margin: 10px;
        width: 400px;
        height: 300px;
    }
</style>
<div class="text-center" >
    <h2 class="display-4">Добро пожаловать на сайт тренажёрного зала "Олимпия"</h2>
    <h4>Узнайте <a href="/Home/FAQ">больше</a> о нас.</h4>
</div>

<div class="div1">
    <p>
    <img src="https://strommontazh.com/wp-content/uploads/2014/06/sportzal3.jpg" class="MainImage" />
    <img src="https://abs-steklo.ru/assets/images2/04.jpg" class="MainImage" />
    <img src="https://img.lovepik.com/photo/50110/3113.jpg_wh860.jpg" class="MainImage" />
    </p>
</div>

<div class="text-body">
    <h4>Кратко о нас</h4>
    <a>Многофункциональный тренажерный зал с оборудованием от мирового лидера по производству фитнес-оборудования. В зале представлены бренды Life Fitness и Hammer Strength. Уникальная серия тренажеров Hammer Strength МТС позволяет воссоздать особенности биомеханики движений человека в тренажерах, что делает тренировки эффективными и безопасными.</a>
</div>
<br />

<h4>Наши программы</h4>
<div class="div1" align="center">
    <p align="center">
    <div class = image2>
        <img src="http://fizkult-nn.ru/upload/iblock/d73/d734227f31e4e385400004c56f69ebba.jpg" width="350" height="250" />
        <p>Фитнес</p>
    </div>
    <div class = image2>
        <img src="https://fitseven.ru/wp-content/uploads/crossfit-danger-nl.jpg" width="350" height="250" />
        <p>Кросс-фит</p>
    </div>
    <div class = image2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Basingstoke_Sports_Centre_Pool.jpg/1200px-Basingstoke_Sports_Centre_Pool.jpg" width="350" height="250" />
        <p>Бассейн</p>
    </div>
    </p>
</div>

<h4 align="center">Наш адрес</h4>
<div align="center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d68084.0844230354!2d40.86921292830047!3d57.7737236886133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d57.764568399999995!2d40.937534199999995!5e0!3m2!1sru!2sru!4v1646223749411!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
