@{
    ViewData["Title"] = "Treners";
}

<style>
    body {
        background: url(https://oir.mobi/uploads/posts/2021-03/1616533805_35-p-fon-sport-38.jpg)
    }

    .image2{
        max-width: 350px;
        flex: auto;
        margin: 10px;
        padding: 10px; 
        background: #f0f0f0; 
        border: 2px solid #666;
    }

    .image2 p {
        text-align: center;
    }

    .div1{
        display: flex;
        margin-top: 25px;
        margin-bottom: 15px;
        justify-content:center;
    }
</style>

<div class="text-center" >
    <h2 class="display-4">Наши тренера</h2>
</div>

<div class="div1" align="center">
    <p align="center">
    <div class = image2>
        <img src="https://terfit.ru/upload/iblock/526/526b19da5921cc4db7cdcd005d2816a4.png" width="300" height="310" />
        <p>Александр Павлович(Персональный тренер)</p>
    </div>
    <div class = image2>
        <img src="https://terfit.ru/upload/iblock/293/293ac2df1d958f8e9203b3506b18977f.png" width="300" height="310" />
        <p>Влад Попов(Инструктор)</p>
    </div>
    <div class = image2>
        <img src="https://terfit.ru/upload/iblock/981/9812da04413fd7a614d58518015d86a4.png" width="300" height="310" />
        <p>Артём Смирнов(Инструктор)</p>
    </div>
    <div class = image2>
        <img src="https://terfit.ru/upload/iblock/7f3/7f31da67a3caae450c2d4d08f345c940.png" width="300" height="310" />
        <p>Влад Шаповалов(Персональный тренер)</p>
    </div>
    </p>
</div>

<div class="div1" align="center">
    <p align="center">
    <div class = image2>
        <img src="https://terfit.ru/upload/iblock/241/2419b500a373ec8152354d4ca98983a0.png" width="300" height="310" />
        <p>Артём Зубин(Персональный тренер)</p>
    </div>
    <div class = image2>
        <img src="https://terfit.ru/upload/iblock/d57/d579737af986eb665c200ca1350f5659.png" width="300" height="310" />
        <p>Роман Горин(Инструктор)</p>
    </div>
    <div class = image2>
        <img src="https://terfit.ru/upload/iblock/a2d/a2d7647361ee43dd9c712c3eee2079bb.png" width="300" height="310" />
        <p>Влад Петраков(Инструктор)</p>
    </div>
    <div class = image2>
        <img src="https://terfit.ru/upload/iblock/e04/e0457b1622f6d8e1f57b863ef932e2d0.png" width="300" height="310" />
        <p>Артём Романов(Персональный тренер)</p>
    </div>
    </p>
</div>